/* line 3, ../sass/style.scss */
.chart-container {
  width: 80%;
  margin: 0 auto;
}

/* line 1, ../sass/_tooltip.scss */
.tooltip {
  pointer-events: none !important;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* line 11, ../sass/_tooltip.scss */
.flag {
  display: inline-block;
  height: 50px;
}

/* line 17, ../sass/_tooltip.scss */
.tooltip-data {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  font-family: 'Roboto Slab', serif;
}

/* line 24, ../sass/_tooltip.scss */
.name {
  font-size: 27px;
  margin-bottom: 5px;
}

/* line 29, ../sass/_tooltip.scss */
.time {
  display: inline-block;
  margin-left: 5px;
  font-size: 15px;
}

/* line 35, ../sass/_tooltip.scss */
.year {
  display: inline-block;
}

/* line 1, ../sass/_legend.scss */
.axis-label,
.legend-title {
  font-family: 'Roboto Slab', serif;
}

/* line 6, ../sass/_chart.scss */
circle {
  opacity: 0;
}

/* line 11, ../sass/_chart.scss */
.line {
  fill: none;
  stroke-width: 2.7;
}

/* line 16, ../sass/_chart.scss */
.indoor-men {
  stroke: #A921D1;
}
/* line 18, ../sass/_chart.scss */
.indoor-men circle {
  fill: #A921D1;
}
/* line 21, ../sass/_chart.scss */
.indoor-men .tail {
  stroke: #A921D1;
}

/* line 26, ../sass/_chart.scss */
.indoor-women {
  stroke: #FE8C29;
}
/* line 28, ../sass/_chart.scss */
.indoor-women circle {
  fill: #FE8C29;
}
/* line 31, ../sass/_chart.scss */
.indoor-women .tail {
  stroke: #FE8C29;
}

/* line 36, ../sass/_chart.scss */
.outdoor-men {
  stroke: #2550FE;
}
/* line 38, ../sass/_chart.scss */
.outdoor-men circle {
  fill: #2550FE;
}
/* line 41, ../sass/_chart.scss */
.outdoor-men .tail {
  stroke: #2550FE;
}

/* line 46, ../sass/_chart.scss */
.outdoor-women {
  stroke: #CB3123;
}
/* line 48, ../sass/_chart.scss */
.outdoor-women circle {
  fill: #CB3123;
}
/* line 51, ../sass/_chart.scss */
.outdoor-women .tail {
  stroke: #CB3123;
}

/* line 56, ../sass/_chart.scss */
.voronoi {
  fill: none;
  stroke: none;
  pointer-events: all;
}
